@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Welcome to the USF!</h1>
        <p>Please Login</p>
        <a asp-action="StudentLoginForm">Click here to Login</a>
    </div>
</body>
</html>