@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Welcomepage</title>
</head>
<body>
    <p>
        <h1>
            @Model.SName, welcome to the Student System!
        </h1>
    </p>
    <p>Click <a asp-action="CourseInfo">here</a> to check your courses.</p>
    <p>Click <a asp-action="ExamResults">here</a> to check your exam results.</p>
</body>
</html>
